label {
    display: block;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 5px;
}

input[type=checkbox] {
    margin-right: .5rem;
}

.loading {
    position: relative;
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);    
}